/** Emoji button's opacity **/

.theme-dark .emojiButton-3uL3Aw {
  opacity: 0.3;
}

/** Fade user popupt background **/

.root-SR8cQa .activity-1ythUs,
.userPopout-3XzG_A .header-2BwW8b .activity-11LB_k {
  background: none;
  background-image: linear-gradient(to top, var(--nox-level2), transparent);
}

/** Blur account email **/

.userInfoViewing-16kqK3 .flexChild-faoVW3>div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj {
  filter: blur(5px);
  transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

.userInfoViewing-16kqK3 .flexChild-faoVW3>div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover {
  filter: none;
  transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/** Use rotate transform instead of translateY cause z-index is a total trainwreck **/

.title-3qD0b- .icon-1R19_H.popout-open {
  transform: rotate(180deg);
  transition: transform 400ms cubic-bezier(0.3, 0.3, 0, 1);
}

/** Remove margins from emojis **/

.emoji {
  margin: 0;
}

.emoji.jumboable {
  margin-top: 0;
}

/** Fix positioning of status changer - Linux only **/

.platform-linux .container-2Thooq .avatar-3JE4B3 + .status-oxiHuE::before {
  left: 0;
}

.platform-linux ~ .popouts-3dRSmE .alt-3btY0e.menu-Sp6bN1 {
  /* This method works better when using Server Folders **/
  left: inherit !important;
  margin-left: -10px;
}

/** Tab bars in member card overlay **/

.tabBar-2MuP6-.top-28JiJ- {
  height: 100%;
}
