/** Fade user popupt background **/

.root-SR8cQa .activity-1ythUs,
.userPopout-3XzG_A .header-2BwW8b .activity-11LB_k {
  background: none !important;
  background-image: linear-gradient(to top, var(--nox-level2), transparent) !important;
}

/** Blur account email **/

.userInfoViewing-16kqK3 .flexChild-faoVW3>div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj {
  filter: blur(5px);
  transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

.userInfoViewing-16kqK3 .flexChild-faoVW3>div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover {
  filter: none;
  transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/** Use rotate transform instead of translateY cause z-index is a total trainwreck **/

.title-3qD0b- .icon-1R19_H.popout-open {
  transform: rotate(180deg) !important;
  transition: transform 400ms cubic-bezier(0.3, 0.3, 0, 1) !important;
}

/** Remove margins from emojis **/

.emoji {
  margin: 0;
}

.emoji.jumboable {
  margin-top: 0;
}

/** Background color of Early Supporter notice in Nitro option **/

.theme-dark .grandfatheredMessage-1BnHtv {
  background-color: var(--nox-accent) !important;
  background-image: url(https://i.fiery.me/xTh9.svg) !important;
  background-size: 50%;
}

/** Remove Clyde's face from system messages **/

.container-1YxwTf>.content-3dzVd8:first-child::after {
  display: none;
}

/** Remove huge ass notice from Plugins/Themes menu **/

#bd-settingspane-container .content-column.default .bda-slist::before {
  display: none;
}

/** HypeSquad menu **/

.membershipDialog-rVL-t_ {
  background-color: var(--nox-level3) !important;
}

.membershipDialog-rVL-t_::after {
  background-image: url(https://i.fiery.me/xTh9.svg) !important;
  background-size: 50% !important;
  background-repeat: repeat;
  opacity: 1 !important;
}

.membershipDialog-rVL-t_ .houseLogo-2MU96l {
  display: none;
}

.membershipDialog-rVL-t_ .houseLogoWrapper-3XZ6yo {
  background-color: transparent !important;
  border-radius: 0 !important;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
}

.membershipDialogSwitchHousesAction-2a3eDg {
  color: #00b0f4 !important;
}

.membershipDialogSwitchHousesAction-2a3eDg:hover {
  text-decoration: underline;
}

.membershipDialogHouse1-3KhKE- .houseLogoWrapper-3XZ6yo {
  background-image: url(https://i.fiery.me/gYiQ.svg) !important;
}

.membershipDialogHouse2-35h9SY .houseLogoWrapper-3XZ6yo {
  background-image: url(https://i.fiery.me/Hf6o.svg) !important;
}

.membershipDialogHouse3-15OBIQ .houseLogoWrapper-3XZ6yo {
  background-image: url(https://i.fiery.me/crQK.svg) !important;
}

