/** Force colored version for badges, except on Spotify (support BadgesEverywhere) **/

.topSectionNormal-2-vo2m .profileBadgeStaff-13GO7z,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgeStaff-13GO7z,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgeStaff-13GO7z {
  background-image: url(https://discordapp.com/assets/4358ad1fb423b346324516453750f569.svg) !important;
}

.topSectionNormal-2-vo2m .profileBadgePartner-SjK6L2,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgePartner-SjK6L2,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgePartner-SjK6L2 {
  background-image: url(https://discordapp.com/assets/33fedf082addb91d88abc272b4b18daa.svg) !important;
}

.topSectionNormal-2-vo2m .profileBadgeBugHunter-IV0vLE,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgeBugHunter-IV0vLE,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgeBugHunter-IV0vLE {
  background-image: url(https://discordapp.com/assets/f61b8981e92feead854f52e5a1ba14f0.svg) !important;
}

.topSectionNormal-2-vo2m .profileBadgeHypesquad-1YIe7Z,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgeHypesquad-1YIe7Z,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgeHypesquad-1YIe7Z {
  background-image: url(https://discordapp.com/assets/3a050fcc884255231b99b7033c776070.svg) !important;
}

.topSectionNormal-2-vo2m .profileBadgeHypeSquadOnlineHouse1-xN6tES,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgeHypeSquadOnlineHouse1-xN6tES,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgeHypeSquadOnlineHouse1-xN6tES {
  background-image: url(https://discordapp.com/assets/64ae1208b6aefc0a0c3681e6be36f0ff.svg) !important;
}

.topSectionNormal-2-vo2m .profileBadgeHypeSquadOnlineHouse2-3jBpXR,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgeHypeSquadOnlineHouse2-3jBpXR,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgeHypeSquadOnlineHouse2-3jBpXR {
  background-image: url(https://discordapp.com/assets/48cf0556d93901c8cb16317be2436523.svg) !important;
}

.topSectionNormal-2-vo2m .profileBadgeHypeSquadOnlineHouse3-1YbjMX,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgeHypeSquadOnlineHouse3-1YbjMX,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgeHypeSquadOnlineHouse3-1YbjMX {
  background-image: url(https://discordapp.com/assets/9fdc63ef8a3cc1617c7586286c34e4f1.svg) !important;
}

.topSectionNormal-2-vo2m .profileBadgeEarlySupporter-PQB_0a,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgeEarlySupporter-PQB_0a,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgeEarlySupporter-PQB_0a {
  background-image: url(https://discordapp.com/assets/23e59d799436a73c024819f84ea0b627.svg) !important;
}

.topSectionNormal-2-vo2m .profileBadgePremium-3kZ9Qj,
:not(.topSectionSpotify-1lI0-P)>.header-QKLPzZ .profileBadgePremium-3kZ9Qj,
:not(.headerSpotify-zpWxgT)>.headerTop-3C2Zn0 .profileBadgePremium-3kZ9Qj {
  background-image: url(https://discordapp.com/assets/386884eecd36164487505ddfbac35a9d.svg) !important;
}
