/** Char Counter **/

#charcounter,
#charcounter.normal {
  width: 70px !important;
  bottom: 5px !important;
  right: 0 !important;
}

.message-1PNnaP #charcounter,
.uploadModal-2ifh8j #charcounter {
  left: 0 !important;
  bottom: -16px !important;
}

.innerDisabled-2mc-iF #charcounter {
  display: none;
}
