/** Show Hidden Channels **/

.showhiddenchannels-tooltip .marginBottom4-2qk4Hy {
  font-family: var(--font-family-2);
}

.showhiddenchannels-tooltip .flex-1O1GKY:nth-child(2) .role-2irmRk {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
