:root {
  --font-family-1: 'Ubuntu', sans-serif;
  --font-family-2: 'Google Sans', 'Ubuntu', sans-serif;
  --font-family-monospace: 'Fira Code', monospace;
}

/** Fonts **/

::-webkit-input-placeholder,
body,
input,
select,
textarea {
  font-family: var(--font-family-1) !important;
}

button,
header,
.channelName-3stJzi,
.embedAuthorName-3mnTWj,
.embedTitle-3OXDkz,
.header-2RyJ0Y,
.headerText-2niCs_,
.item-PXvHYJ,
.listName-3w10cx,
.membersGroup-v9BXpm,
.name-2WpE7M,
.name-3M0b8v,
.name-3YKhmS,
.nameDefault-2DI02H,
.title-3sZWYQ,
.titleText-3X-zRE {
  font-family: var(--font-family-2) !important;
}

code,
code.inline,
.ace_editor,
.line-numbers,
.editor {
  font-family: var(--font-family-monospace) !important;
}

/** Enlarge default emoji size to 40px, works better with Emote Zoom **/

#app-mount .markup-2BOw-j>.emoji.jumboable {
  height: 40px !important;
  width: 40px !important;
}

/** Hide owner icon (the crown) **/

.ownerIcon-uZ6mE7 {
  display: none;
}

/** Remove Nitro Gift button from textarea **/

.buttons-205you>.button-38aScr[tabindex="2"] {
  display: none;
}
