:root {
  --accent-color: #3A71C1;
}

.guildsWrapper-5TJh6A .guilds-1q_RqH {
  height: 100%;
  padding-bottom: 80px !important;
  box-sizing: border-box;
}

.theme-dark .root-1BQpZw,
.theme-dark .container-3gCOGc {
  background: var(--lvl1) !important;
}

/** Themes the background for Card with Nitro being paid on it. **/

.theme-dark .premiumIndicator-1XvbfM {
  background-color: var(--accent-color);
}

/** Edit Card Button **/

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
  background-color: var(--accent-color);
}

/** Fix All Transactions - Nitro - (Probably) Games - Top Tab **/

.top-28JiJ- .tab-1kx2RU {
  padding: 9px;
}

/** Background of Title Panels in payment list **/

.theme-dark .paymentPane-3bwJ6A {
  background-color: var(--lvl25);
}

/** Background for Payment list **/

.theme-dark .payment-xT17Mq {
  background-color: var(--lvl1);
}

.theme-dark .hoverablePayment-Yc6mK7:hover {
  background-color: var(--lvl2);
}

/** Extra information within Payment **/

.theme-dark .expandedInfo-3kfShd {
  background-color: var(--lvl2);
}

/** Page indicator at the bottom **/

.theme-dark .paginator-166-09 {
  background-color: var(--lvl1);
}

/** Discord key modal fix **/

.theme-dark .card-3Qj_Yx {
  background-color: var(--lvl1);
}

/** Fade modal bg **/

.root-SR8cQa .activity-1ythUs,
.userPopout-3XzG_A .header-2BwW8b .activity-11LB_k {
  background: none;
  background-image: linear-gradient(to top, var(--lvl2), transparent);
}

/** Blur account email **/

.userInfoViewing-16kqK3 .flexChild-faoVW3>div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj {
  filter: blur(5px);
  transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

.userInfoViewing-16kqK3 .flexChild-faoVW3>div:nth-child(2) .viewBody-2Qz-jg.selectable-x8iAUj:hover {
  filter: none;
  transition: 200ms cubic-bezier(.2, .11, 0, 1);
}

/** Escape button fixes **/

.theme-dark .ui-standard-sidebar-view .esc-text {
  color: #72767d;
}

/** Remove theme comments **/

#bd-settingspane-container .content-column.default .bda-slist::after,
#bd-settingspane-container .content-column.default .bda-slist::before,
.content-region #bd-customcss-attach-controls::after {
  display: none;
}

/** Fix theme comments going out of bound **/

#bd-settingspane-container .content-column.default .bda-slist::after,
#bd-settingspane-container .content-column.default .bda-slist::before {
  white-space: pre-wrap;
}

/** Restore margin bottom of custom css editor **/

.content-region #bd-customcss-attach-controls,
#bd-customcss-detach-container #bd-customcss-attach-controls {
  margin-bottom: 60px !important;
}

/** Message Controls **/

.reactionBtn-2na4rd {
  margin-top: 2px;
}

.button-3Jq0g9 {
  margin-top: 1px;
}

.container-1YxwTf .btn-quote {
  margin-top: 2px;
  margin-right: 2px;
  opacity: .4;
  transition: opacity .2s ease;
}

.container-1YxwTf .btn-quote:hover {
  opacity: 1;
}

/** Add shadow to emoji picker **/

.popout-3sVMXz.noShadow-321ZPm .emojiPicker-3m1S-j {
  box-shadow: 0 10px 25px var(--black4) !important;
}

/** Remove Clyde's face from system messages **/

.container-1YxwTf>.content-3dzVd8:first-child::after {
  display: none;
}

/** Remove margins from emojis **/

.emoji {
  margin: 0;
}

.emoji.jumboable {
  margin-top: 0;
}

/** Add margin to image details plugin **/

.image-details {
  margin-bottom: 5px;
}

/** Disable timestamp with compact mode **/

.theme-dark .timestampCompact-MHgFLv {
  visibility: collapse;
  width: 8ch !important;
}

/** z-index fixes **/

.chat-3bRxxu {
  z-index: 1;
}

.channels-Ie2l6A {
  z-index: 2;
}

.theme-dark .searchResultsWrap-2DKFzt {
  z-index: 4;
}

.theme-dark .friendsTable-133bsv .friendsTableHeader-32yE7d {
  z-index: 5;
}

/** Apply shadow to container underneath channels list **/

.channels-Ie2l6A .container-2Thooq {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}

/** Use rotate transform instead of translateY cause z-index is a total trainwreck **/

.title-3qD0b- .icon-1R19_H.popout-open {
  transform: rotate(180deg);
  transition: transform 400ms cubic-bezier(0.3, 0.3, 0, 1);
}

/** Nitro Gift options **/

.theme-dark .option-1l2vXE {
  background: none;
}

/** GIF picker **/

.theme-dark .categoryFadeBlurple-1j72_A,
.theme-light .categoryFadeBlurple-1j72_A,
.theme-dark .categoryFadeBlurple-1j72_A:hover,
.theme-light .categoryFadeBlurple-1j72_A:hover {
  background-color: var(--accent-color);
  opacity: 0.8;
}

.theme-dark .focused-1En8bG:after, .theme-dark .result-3w1ZcL:hover:after {
  box-shadow: inset 0 0 0 2px var(--accent-color), inset 0 0 0 3px #2f3136;
}
