/**
  Add flash animation to mention badges.
  To customise the color, change the rgb values.
**/

.containerDefault-1ZnADq .wrapper-232cHJ,
.guild-1EfMGQ .badge-1GsMF2:not(.count),
a[href="/channels/@me"] .badge-1GsMF2 {
  animation: mention-flash 1.5s linear infinite;
}

@keyframes mention-flash {
  0% {
    box-shadow: 0 0px 10px rgba(240, 71, 71, 0), 0 0 0 0px rgba(240, 71, 71, .4);
  }
  50% {
    box-shadow: 0 0px 20px 15px rgba(240, 71, 71, .3), 0 0 0 4px rgba(240, 71, 71, .7);
  }
  100% {
    box-shadow: 0 0px 25px 16px rgba(240, 71, 71, 0), 0 0 3px 8px rgba(240, 71, 71, 0);
  }
}
