/** SmarterEmbeds by Beard **/

.container-1YxwTf .container-1e22Ot {
	display: flex;
	flex-flow: row wrap;
}

.container-1YxwTf .container-1e22Ot > :not(:last-of-type){
	margin-right: 10px;
}

.container-1YxwTf .container-1e22Ot > *{
	margin-top: 5px;
}

.reactions-1xb2Ex {
	width: 100%;
	flex: 100%;
	order: 9999999999;
}
