/** Fixes due to outdated class names **/

/** Text area mega fix (support all extra picker buttons) **/

.channelTextArea-1LDbYG .inner-zqa7da {
  height: 100%;
  background: rgba(58, 58, 58, 0.64);
}

.channelTextArea-1LDbYG .inner-zqa7da .textArea-2Spzkt,
.channelTextArea-1LDbYG .inner-zqa7da .buttons-205you {
  background: none !important;
  opacity: 0.64;
  transition: all 200ms ease;
}

.channelTextArea-1LDbYG .inner-zqa7da.innerDisabled-2mc-iF .textArea-2Spzkt,
.channelTextArea-1LDbYG .inner-zqa7da .buttons-205you,
.channelTextArea-1LDbYG .inner-zqa7da .textArea-2Spzkt:focus+.buttons-205you {
  opacity: 1;
}

.channelTextArea-1LDbYG .inner-zqa7da:not(.innerDisabled-2mc-iF):hover .textArea-2Spzkt,
.channelTextArea-1LDbYG .inner-zqa7da .textArea-2Spzkt:focus {
  background: #3A3A3A !important;
  opacity: 1;
}

.textArea-2Spzkt {
  padding-right: 140px;
}

.buttons-205you {
  padding-right: 0;
  height: 100%;
  position: absolute;
  right: 0;
}

.buttons-205you .button-38aScr {
  margin: 0;
  background: none;
  transform: none;
  transition: none;
  opacity: 0.24;
  width: 70px;
  transition: all 200ms ease;
}

.buttons-205you .button-38aScr:hover {
  box-shadow: none;
}

.buttons-205you .button-38aScr>.contents-18-Yxp {
  opacity: 1;
}

.buttons-205you .icon-3D60ES {
  transition: none;
  transform: scale(.85714) !important;
}

.inner-zqa7da:hover .buttons-205you .button-38aScr {
  opacity: 0.3;
}

.inner-zqa7da .buttons-205you .button-38aScr:hover,
.inner-zqa7da .buttons-205you .button-38aScr.active-23Nm0T,
.inner-zqa7da .buttons-205you .button-38aScr.popout-open {
  opacity: 1;
}

.emojiButton-3uL3Aw {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPiAgICA8cGF0aCBkPSJNMTEuOTkgMkM2LjQ3IDIgMiA2LjQ4IDIgMTJzNC40NyAxMCA5Ljk5IDEwQzE3LjUyIDIyIDIyIDE3LjUyIDIyIDEyUzE3LjUyIDIgMTEuOTkgMnpNMTIgMjBjLTQuNDIgMC04LTMuNTgtOC04czMuNTgtOCA4LTggOCAzLjU4IDggOC0zLjU4IDgtOCA4em0zLjUtOWMuODMgMCAxLjUtLjY3IDEuNS0xLjVTMTYuMzMgOCAxNS41IDggMTQgOC42NyAxNCA5LjVzLjY3IDEuNSAxLjUgMS41em0tNyAwYy44MyAwIDEuNS0uNjcgMS41LTEuNVM5LjMzIDggOC41IDggNyA4LjY3IDcgOS41IDcuNjcgMTEgOC41IDExem0zLjUgNi41YzIuMzMgMCA0LjMxLTEuNDYgNS4xMS0zLjVINi44OWMuOCAyLjA0IDIuNzggMy41IDUuMTEgMy41eiIvPjwvc3ZnPg==) !important;
  background-repeat: no-repeat !important;
  background-position: 50% !important;
  background-color: transparent !important;
  transition: all 100ms ease;
  box-shadow: none !important;
  transform: none !important;
  margin: 0;
  height: 100%;
  width: 70px;
  max-height: 400px !important;
  top: 0;
  right: 0;
}

.emojiButton-3uL3Aw .sprite-2iCowe {
  display: none;
}

/** Upload modal - Emoji button **/

.uploadModal-2ifh8j .inner-zqa7da {
  margin-right: 5px;
  border-radius: 5px;
}

.uploadModal-2ifh8j .inner-zqa7da .textArea-2Spzkt,
.uploadModal-2ifh8j .buttons-205you {
  margin-right: 0;
}

.uploadModal-2ifh8j .inner-3nWsbo .comment-4IWttf .channelTextArea-1LDbYG .inner-zqa7da .textArea-2Spzkt {
  padding-right: 38px;
}

.uploadModal-2ifh8j .emojiButton-3uL3Aw {
  width: 38px;
}

/** Channel text area (edit message) - Emoji button **/

.message-1PNnaP .channelTextArea-1LDbYG .inner-zqa7da {
  margin-right: 5px;
  background: #3A3A3A !important;
}

.message-1PNnaP .channelTextArea-1LDbYG .inner-zqa7da .textArea-2Spzkt {
  margin-right: 0;
  padding-right: 38px;
}

.message-1PNnaP .emojiButton-3uL3Aw {
  padding: 0;
  min-height: 0;
  width: 38px;
}

/** Settings page **/

.standardSidebarView-3F1I7i .sidebarRegion-VFTUkN {
  background: var(--lvl3) !important;
}

.standardSidebarView-3F1I7i .contentRegion-3nDuYy {
  background: var(--lvl2) !important;
}

.sidebarRegion-VFTUkN .sidebar-CFHs9e #bd-settings-sidebar .ui-tab-bar-item.selected,
.standardSidebarView-3F1I7i .bda-slist .bda-right button,
.standardSidebarView-3F1I7i .bda-slist li button {
  background: var(--accent-color);
}

/** Channels & Members list scrollbars **/

.membersWrap-2h-GB4 .scroller-2FKFPG::-webkit-scrollbar,
.channels-Ie2l6A .scroller-2wx7Hm::-webkit-scrollbar {
  background: var(--lvl2) !important;
  border-radius: 0 !important;
  width: 8px !important;
}

.membersWrap-2h-GB4 .scroller-2FKFPG::-webkit-scrollbar-thumb,
.channels-Ie2l6A .scroller-2wx7Hm::-webkit-scrollbar-thumb {
  border-radius: 0 !important;
  background: rgba(255, 255, 255, 0.05) !important;
  border: 0px solid transparent !important;
  visibility: visible !important;
  border-left: 4px solid var(--lvl2) !important;
}

.membersWrap-2h-GB4 .scroller-2FKFPG::-webkit-scrollbar-thumb:hover,
.channels-Ie2l6A .scroller-2wx7Hm::-webkit-scrollbar-thumb:hover {
  background: var(--white1) !important;
}

.membersWrap-2h-GB4 .scroller-2FKFPG::-webkit-scrollbar-thumb:active,
.channels-Ie2l6A .scroller-2wx7Hm::-webkit-scrollbar-thumb:active {
  background: var(--white2) !important;
}

.membersWrap-2h-GB4 .scroller-2FKFPG::-webkit-scrollbar-track,
.channels-Ie2l6A .scroller-2wx7Hm::-webkit-scrollbar-track {
  background: transparent !important;
}

/** Search Bars **/

.searchBar-2_Yu-C {
  background: transparent !important;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG {
  background: transparent !important;
  box-shadow: none !important;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
  background: transparent !important;
  color: var(--white10) !important;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarIcon-1J6sKG .icon-3cZ1F_.iconSearchBarEyeGlass-2n38zb {
  background-image: url(data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjRkZGRkZGIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4gICAgPHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0MxNS40MSAxMi41OSAxNiAxMS4xMSAxNiA5LjUgMTYgNS45MSAxMy4wOSAzIDkuNSAzUzMgNS45MSAzIDkuNSA1LjkxIDE2IDkuNSAxNmMxLjYxIDAgMy4wOS0uNTkgNC4yMy0xLjU3bC4yNy4yOHYuNzlsNSA0Ljk5TDIwLjQ5IDE5bC00Ljk5LTV6bS02IDBDNy4wMSAxNCA1IDExLjk5IDUgOS41UzcuMDEgNSA5LjUgNSAxNCA3LjAxIDE0IDkuNSAxMS45OSAxNCA5LjUgMTR6Ii8+ICAgIDxwYXRoIGQ9Ik0wIDBoMjR2MjRIMHoiIGZpbGw9Im5vbmUiLz48L3N2Zz4=);
  background-size: 125%;
}

.emojiPicker-3m1S-j .searchBar-2pWH0_ {
  background: transparent !important;
  opacity: 0.8;
}

.emojiPicker-3m1S-j .searchBar-2pWH0_ input {
  color: var(--white5)/* var(--white10) */
   !important;
  border-bottom: 2px solid var(--white1);
  padding-bottom: 3px;
  padding-right: 25px;
  height: 30px;
}

.emojiPicker-3m1S-j .searchBar-2pWH0_ input:focus {
  border-bottom: 2px solid var(--accent-color);
}

.emojiPicker-3m1S-j .searchBar-2pWH0_ input::-webkit-input-placeholder {
  color: var(--white6) !important;
}

/** Search Results **/

.theme-dark .searchResultsWrap-2DKFzt {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.4);
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12 {
  border-radius: 3px !important;
  box-shadow: 0 0 10px 6px var(--lvl3), 0 2px 10px black !important;
  transition: 100ms ease !important;
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB:not(.expanded-v2Szsz) .searchResultMessage-2VxO12:hover {
  border-radius: 3px !important;
  box-shadow: 0 0 10px 6px var(--lvl3), 0 2px 15px black !important;
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
  box-shadow: none !important;
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz {
  background: var(--lvl2);
  transition: 200ms ease;
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz div {
  box-shadow: none !important;
}

.searchResultsWrap-2DKFzt,
.searchResultsWrap-2DKFzt .searchHeader-1l-wpR {
  background: var(--lvl3) !important;
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB::before {
  background-image: linear-gradient(0deg, transparent 0, var(--lvl3) 100%);
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB::after {
  background-image: linear-gradient(180deg, transparent 0, var(--lvl3) 100%);
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA {
  box-shadow: 0 0 10px 6px var(--lvl3);
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA,
.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz {
  border: none;
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12 {
  border-radius: 3px;
  background: transparent;
  border: none !important;
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB .hit-NLlWXA {
  background: var(--lvl1);
}

.theme-dark .searchResultsWrap-2DKFzt .searchResult-3pzFAB.expanded-v2Szsz .searchResultMessage-2VxO12.hit-NLlWXA {
  background: var(--lvl1);
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB .searchResultMessage-2VxO12 .messageGroupCozy-1BZuO8 {
  margin-bottom: 10px !important;
}

.theme-dark .searchResultsWrap-2DKFzt .channelSeparator-1X1FuH .channelName-1QajIf {
  background: transparent;
}

.searchResultsWrap-2DKFzt .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar {
  background: rgba(225, 225, 225, 0.04);
  width: 8px !important;
}

.theme-dark .searchResultsWrap-2DKFzt .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
  background: rgba(225, 225, 225, 0.2) !important;
  display: initial;
  border-radius: 0 !important;
  border: 0px !important;
  background-clip: none;
}

.theme-dark .searchResultsWrap-2DKFzt .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb:active {
  border: none !important;
  background: rgba(225, 225, 225, 0.4) !important;
  display: initial;
  border-radius: 0 !important;
}

.searchResultsWrap-2DKFzt .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  display: none;
}

.searchResultsWrap-2DKFzt .actionButtons-14P9IC {
  -ms-transform: translate(-30px, 11px);
  transform: translate(-30px, 11px);
}

.searchResultsWrap-2DKFzt .searchResult-3pzFAB {
  margin-left: 10px;
}

.theme-dark .searchResultsWrap-2DKFzt .channelSeparator-1X1FuH .channelName-1QajIf {
  margin-left: 10px;
}

.searchResults-2J8dju .channelSeparator-1X1FuH::before {
  display: none;
}
