/** Magane custom styling for BMT **/

div#app-mount div#magane a,
div#app-mount div#magane button,
div#app-mount div#magane div,
div#app-mount div#magane input,
div#app-mount div#magane label,
div#app-mount div#magane li,
div#app-mount div#magane p,
div#app-mount div#magane select,
div#app-mount div#magane span,
div#app-mount div#magane ul {
  font-family: inherit !important;
}

div#app-mount div#magane {
  height: 100%;
}

div#app-mount div#magane div.channel-textarea-stickers {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(/assets/98b39a3802f75cda51a0b1b539aa7609.svg);
  background-origin: content-box;
  background-attachment: scroll;
  background-clip: border-box;
  background-size: 22px;
  height: 100%;
  top: 0 !important;
  right: 0 !important;
  opacity: 0.26;
  padding: 2px 16px;
  width: 70px;
  box-sizing: border-box;
  transform: none;
  display: flex;
  position: static !important;
}

div#app-mount .inner-zqa7da:hover div#magane div.channel-textarea-stickers {
  opacity: 0.3;
  transition: all 200ms ease;
}

div#app-mount .inner-zqa7da div#magane div.channel-textarea-stickers:hover {
  opacity: 1;
  transform: none;
}

div#app-mount .inner-zqa7da div#magane div.channel-textarea-stickers.active {
  opacity: 1;
  transition: all 100ms ease;
}

div#app-mount div#magane div.stickerWindow {
  bottom: 78px !important;
  right: 23px !important;
  border-radius: 3px;
  background: #212121 !important;
  box-shadow: 0 10px 25px var(--black4);
}

div#app-mount div#magane div.stickerWindow>div.packs {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 58px !important;
  background: #141414 !important;
}

div#app-mount div#magane div.stickerWindow>div.packs::-webkit-scrollbar {
  height: 8px !important;
}

div#app-mount div#magane div.stickerWindow>div.packs::-webkit-scrollbar-thumb {
  border-radius: 3px !important;
}

div#app-mount div#magane div.stickerWindow>div.packs div.pack {
  float: none !important;
  display: inline-block !important;
}

.innerDisabled-2mc-iF div#magane {
  display: none !important;
}
